@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 171, 170, 170;
  --background-end-rgb: 240, 240, 240;
  --color: rgb(201, 201, 201);
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(248, 248, 248) 0%,
    rgb(207, 207, 207) 48%,
    rgb(218, 218, 218) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .mural-background {
  background-image: url("/backgrounds/food-background.png");
  background-repeat: no-repeat;
  background-position: 125% 10%;
  background-size: 50%;
} */

/* Animations */
.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInLeftWithDelay {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 0.4s;
}

.fadeInRightWithDelay {
  animation-name: fadeInRight;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}
